<div class="card">
    <h2 class="p-3 mb-2" style="font-family: '빛의 계승자 Bold';">내정보</h2>

    <div class="px-4">
        <!-- 이메일 -->
        <div class="mb-5">
            <h5 class="border-bottom p-2" style="font-family: '빛의 계승자 Bold';">이메일</h5>
            <span class="p-2" style="font-size: 1.2em;">{{ user.email }}</span>
        </div>

        <!-- 자기소개 -->
        <div class="mb-5">
            <h5 class="border-bottom p-2" style="font-family: '빛의 계승자 Bold';">자기소개</h5>
            <span class="p-2" style="font-size: 1.2em;">{{ user.about_me }}</span>
        </div>

        <!-- 내가 쓴 글 -->
        <div class="mb-5">
            <h5 class="border-bottom p-2" style="font-family: '빛의 계승자 Bold';">내가 쓴 글</h5>
        </div>

        <!-- 내가 쓴 댓글 -->
        <div class="mb-5">
            <h5 class="border-bottom p-2" style="font-family: '빛의 계승자 Bold';">내가 쓴 댓글</h5>
        </div>
    </div>
</div>
