{% extends 'base.html' %}
{% block content %}
<div class="container mt-2 mb-3">
    <div class="row mb-2">
        <!-- 검색창 -->
        <div class="col-12 col-lg-10 d-flex justify-content-end gap-2 mb-2 mb-lg-0">
            <input type="text" id="searchKeyword" class="form-control" value="{{ keyword or '' }}">
            <button class="btn btn-primary col-auto" type="button" onclick="search()">검색</button>
        </div>

        <div class="col-12 col-lg-2 d-flex justify-content-end gap-2">
            {% if sort_type == 'newest' %}
            <a href="javascript:void(0)" class="col-auto btn btn-primary" style="pointer-events: none;">최신순</a>
            <a href="{{ url_for('record.record_list', sort_type='oldest', keyword=keyword) }}" class="col-auto btn btn-outline-primary">오래된순</a>
            {% else %}
            <a href="{{ url_for('record.record_list', sort_type='newest', keyword=keyword) }}" class="col-auto btn btn-outline-primary">최신순</a>
            <a href="javascript:void(0)" class="col-auto btn btn-primary" style="pointer-events: none;">오래된순</a>
            {% endif %}
        </div>
    </div>

    <!-- 전적 추가 버튼 -->
    <div class="d-flex justify-content-center rounded border border-dark border-4 p-2 mb-2">
        <a href="{{ url_for('record.append_record') }}" class="fs-2 text-dark text-center flex-fill">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>

    {% for record in record_list %}
    <div class="{{ 'd-none' if record['index'] > 4 else 'd-flex' }} flex-column flex-lg-row justify-content-between rounded border border-{{ 'primary' if record['result'] == 'WIN' else 'danger' }} border-4 p-2 mb-2" id="record_{{ record['index'] }}">
        <div class="row">
            <!-- 전적 결과 -->
            <div class="col-6 col-lg-auto d-flex flex-column text-center align-self-center px-0 px-lg-2">
                <span class="text-dark" style="font: 2em '빛의 계승자 Bold';">{{ record['result'] }}</span>
                <span class="text-dark" style="font-family:'빛의 계승자 Bold';">({{ record['date'].strftime('%Y-%m-%d') }})</span>
            </div>

            <!-- 네메시스 -->
            <div class="col-auto col-lg-auto d-flex flex-column align-self-center ps-0 ps-lg-2">
                <a href="{{ url_for('wiki.nemesis_detail', nemesis_id=record['nemesis'].id) }}">
                    <img src="{{ url_for('static', filename=record['nemesis'].image) }}" alt="{{ record['nemesis'].name }}" class="rounded" width="150">
                </a>
                <a class="badge bg-danger a-none-deco mt-1" href="{{ url_for('wiki.nemesis_detail', nemesis_id=record['nemesis'].id) }}">{{ record['nemesis'].name }}</a>
            </div>

            <!-- 유저 목록 -->
            <div class="col-10 col-lg-auto col-lg-auto d-flex flex-wrap mx-lg-2 mt-2 mt-lg-0 gap-2">
                {% for user in record['player_list'] %}
                <div class="col-auto d-flex flex-column align-self-center mx-lg-2">
                    <a class="align-self-center" href="{{ url_for('wiki.mage_detail', mage_id=user['mage'].id) }}">
                        <img src="{{ url_for('static', filename=user['mage'].image) }}" alt="{{ user['mage'].name }}" class="d-none d-lg-block rounded" width="150">
                    </a>
                    <a class="badge bg-primary a-none-deco mt-1" href="{{ url_for('profile.info', username=user['user'].username) }}">{{ user['user'].nickname }}</a>
                </div>
                {% endfor %}
            </div>

            <!-- 전적 상세 정보 버튼 -->
            <div class="col-auto d-flex d-lg-none justify-content-end">
                <a class="col-auto a-none-deco align-self-end" href="{{ url_for('record.record_detail', record_id=record['record'].id) }}">
                    <i class="bi bi-arrow-bar-right" style="font-size: 2em;"></i>
                </a>
            </div>
        </div>

        <!-- 전적 상세 정보 버튼 -->
        <div class="d-none d-lg-flex align-self-start">
            <a class="col-auto a-none-deco" href="{{ url_for('record.record_detail', record_id=record['record'].id) }}">
                <i class="bi bi-arrow-bar-right" style="font-size: 2em;"></i>
            </a>
        </div>
    </div>
    {% endfor %}

    <!-- 전적 불러오기 버튼 -->
    <div class="d-flex justify-content-center rounded border border-dark border-4 p-2 mb-2" id="recordLoadBtnContainer">
        <a href="javascript:void(0)" class="fs-2 text-dark text-center flex-fill" onclick="loadRecord()">
            <i class="bi bi-caret-down-fill"></i>
        </a>
    </div>
</div>

<form action="{{ url_for('record.record_list', sort_type=sort_type) }}" method="get" id="searchForm">
    <input type="hidden" id="sort_type" name="sort_type" value="{{ sort_type or '' }}">
    <input type="hidden" id="keyword" name="keyword" value="{{ keyword or '' }}">
</form>
{% endblock %}

{% block script %}
<script>
var recordCount = 5;
var isAllRecordLoaded = false;

function loadRecord() {
    if (isAllRecordLoaded) {
        return;
    }

    let prevRecordCount = recordCount;
    recordCount += 5;

    for (let i = prevRecordCount; i < recordCount; i++) {
        if (document.getElementById('record_' + i)) {
            document.getElementById('record_' + i).classList.replace('d-none', 'd-flex');
        } else {
            document.getElementById('recordLoadBtnContainer').classList.replace('d-flex', 'd-none');
            isAllRecordLoaded = true;
            return;
        }
    }
}

function search() {
    document.getElementById('keyword').value = document.getElementById('searchKeyword').value;
    document.getElementById('searchForm').submit();
}
</script>
{% endblock %}
