{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- 게시글 Start -->
    <div class="card my-3">
        <div class="card-body">
            <div class="d-flex flex-row border-bottom pb-1 mb-3">
                <h3 class="rounded border border-3 border-dark px-1">{{ post.category }}</h3>
                <h2 class="mx-2">{{ post.subject }}</h2>
            </div>
            <div class="card-text mb-3" id="post_content">{{ post.content|safe }}</div>
            <div class="border-bottom pb-2 my-2">
                {% if g.user %}
                {% if not (g.user in post.voter) %}
                <a href="{{ url_for('post.vote', post_id=post.id) }}" class="btn btn-sm btn-outline-primary">
                    추천
                    <span class="badge rounded-pill bg-success">{{ post.voter|length }}</span>
                </a>
                {% else %}
                <a href="javascript:void(0)" class="already-recommended btn btn-sm btn-outline-primary">
                    추천
                    <span class="badge rounded-pill bg-success">{{ post.voter|length }}</span>
                </a>
                {% endif %}
                {% else %}
                <a href="javascript:void(0)" aria-disabled="true" class="btn btn-sm btn-outline-primary disabled">
                    추천
                    <span class="badge rounded-pill bg-success">{{ post.voter|length }}</span>
                </a>
                {% endif %}
                {% if g.user == post.user %}
                <a href="{{ url_for('post.modify', post_id=post.id) }}"
                    class="btn btn-sm btn-outline-primary">수정</a>
                <a href="javascript:void(0)" data-uri="{{ url_for('post.delete', post_id=post.id) }}"
                    class="delete btn btn-sm btn-danger">삭제</a>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between gap-3">
                <div class="d-flex flex-row mx-1">
                    <img src="{{ url_for('static', filename=post.user.profile_image) }}" alt="{{ url_for('static', filename='images/profile/default.png') }}" class="d-none d-md-block rounded img-thumbnail" width="150" height="150">
                    <div class="d-flex flex-column mx-md-3">
                        <span class="text-primary">글쓴이</span>
                        <a class="a-none-deco p-1" href="{{ url_for('profile.info', username=post.user.username) }}" style="font-size: 1.3em;">{{ post.user.nickname }}</a>
                    </div>
                </div>
                <span class="mx-2">댓글 {{ 0 }} | 조회수 {{ post.num_views }}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 게시글 End -->
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if (confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        }
    });
});

const already_recommended_elements = document.getElementsByClassName("already-recommended");
Array.from(already_recommended_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        confirm("중복 추천은 불가능합니다.")
    });
});
</script>
{% endblock %}
