{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- 게시글 Start -->
    <div class="card my-3" style="box-shadow: 0 4px 16px 0 rgba(104, 104, 104, 0.6);">
        <div class="card-body">
            <div class="d-flex flex-row border-bottom pb-1 mb-3">
                <h3 class="rounded border border-3 border-dark px-1">{{ post.category }}</h3>
                <h2 class="mx-2">{{ post.subject }}</h2>
            </div>
            <div class="card-text mb-3" id="post_content">{{ post.content|safe }}</div>
            <div class="border-bottom pb-3 mb-1 my-md-3">
                <a class="{{ 'disabled' if not g.user else '' }} btn btn-sm
                   {{ 'btn-outline-primary' if not (g.user in post.voter) else 'btn-primary' }}"
                   id="vote_btn"
                   data-vote="{{ url_for('post.vote', post_id=post.id) }}"
                   data-unvote="{{ url_for('post.unvote', post_id=post.id) }}"
                   {% if not (g.user in post.voter) %} onclick="vote()" {% else %} onclick="unvote()" {% endif %}
                   href="javascript:void(0)">
                   추천
                </a>
                {% if g.user == post.user %}
                <a class="btn btn-sm btn-outline-primary"
                   href="{{ url_for('post.modify', post_id=post.id) }}">
                   수정
                </a>
                <a class="delete btn btn-sm btn-danger"
                   data-uri="{{ url_for('post.delete', post_id=post.id) }}"
                   href="javascript:void(0)">
                   삭제
                </a>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between gap-3">
                <div class="d-flex flex-row mx-1">
                    <img src="{{ url_for('static', filename=post.user.profile_image) }}" alt="/static/images/defaults/profile_image.png" class="d-none d-md-block rounded img-thumbnail" width="150" height="150">
                    <div class="d-flex flex-column mx-md-3">
                        <span class="d-none d-md-inline text-primary">글쓴이</span>
                        <a class="a-none-deco p-md-1" href="{{ url_for('profile.info', username=post.user.username) }}" style="font-size: calc(0.5rem + 0.8vw);">{{ post.user.nickname }}</a>
                        <div class="d-flex" style="height: 100%;">
                            <span class="border border-white align-self-end col-auto" style="font-size: calc(0.5rem + 0.5vw);">{{ post.create_date }}</span>
                            {% if post.modify_date %}
                            <span class="border rounded align-self-end col-auto px-1 mx-2" style="font-size: calc(0.5rem + 0.5vw);">수정됨</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <span class="d-none d-md-block col-auto mx-md-2" style="font-size: calc(0.6rem + 0.3vw);">댓글 {{ 0 }} | 추천 {{ post.voter|length }} | 조회수 {{ post.num_views }}</span>
                <span class="d-block d-md-none col-auto mx-md-2" style="font-size: calc(0.6rem + 0.3vw);">댓글 {{ 0 }} | 추천 {{ post.voter|length }}</span>
            </div>
        </div>
    </div>
    <!-- 게시글 End -->

    {% include 'comment/comment_list.html' %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if (confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        }
    });
});

function vote() {
    location.href = document.getElementById('vote_btn').dataset.vote;
}

function unvote() {
    if (confirm("추천을 취소하시겠습니까?")) {
        location.href = document.getElementById('vote_btn').dataset.unvote;
    }
}

function replyComment(comment_id) {
    const replyBlock = document.getElementById("reply_block_" + comment_id)
    const modifyBlock = document.getElementById("modify_block_" + comment_id)

    if (replyBlock.style.display == "none") {
        replyBlock.style.display = "";
        replyBlock.getElementsByTagName("textarea")[0].focus();
    } else {
        replyBlock.style.display = "none";
    }

    if (modifyBlock.style.display != "none") {
        modifyBlock.style.display = "none";
    }
}

function modifyComment(comment_id) {
    const replyBlock = document.getElementById("reply_block_" + comment_id)
    const modifyBlock = document.getElementById("modify_block_" + comment_id)

    if (modifyBlock.style.display == "none") {
        modifyBlock.style.display = "";
        modifyBlock.getElementsByTagName("textarea")[0].setSelectionRange(modifyBlock.getElementsByTagName("textarea")[0].value.length, modifyBlock.getElementsByTagName("textarea")[0].value.length); // 커서 맨 뒤로
        modifyBlock.getElementsByTagName("textarea")[0].focus();
    } else {
        modifyBlock.style.display = "none";
    }

    if (replyBlock.style.display != "none") {
        replyBlock.style.display = "none";
    }
}
</script>
{% endblock %}
