.comment-list {
    padding: 0px 20px 0px 20px;
}

.comment-block {
    padding: 0px 10px 0px 10px;
}

.font-weight-bold {
    font-weight: bold;
}

.a-none-deco {
    text-decoration: none;
    color: black;
}

.a-none-deco:hover {
    color: black;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 0px;
}

.list-group-item.active {
    background-color: #555555;
    border-color: #555555;
}

p {
    margin-bottom: 0em;
}

.responsive-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.wiki-list-container::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .wiki-list-item {
        width: 28%;
    }
}

@media (min-width: 768px){
    .wiki-list-item {
        width: calc(100% / 7);
    }
}

@media (max-width: 768px) {
    .wiki-list-placeholder {
        width: 28%;
    }
}

@media (min-width: 768px){
    .wiki-list-placeholder {
        width: calc(100% / 7);
    }
}

.border-card {
    border-left: 0.35rem solid #0d6efd;
}

.border-mage {
    border-left: 0.35rem solid #6f42c1;
}

.box-shadow {
    box-shadow: 0 4px 16px 0 rgba(104, 104, 104, 0.6);
}

.card-list-container {
    overflow-x: auto;
}
