<div class="row rounded border border-2 shadow py-2 pb-3 p-md-0 my-md-3">
    <!-- 리뷰 목록 Start -->
    <div class="py-2 mb-2">
        {% if review_list|length > 0 %}
        {% for review in review_list %}
        <a id="review_{{ review.id }}"></a>

        <div class="card-body border-bottom d-flex flex-row px-0 py-2 mx-2">
            <img src="{{ url_for('static', filename=review.user.profile_image) }}"
                 alt="/static/images/defaults/profile_image.png"
                 class="d-none d-md-block rounded img-thumbnail align-self-start"
                 width="100"
                 height="100">
            <div class="card-text d-flex flex-column mx-md-3" style="width: 100%;">
                <div class="d-flex gap-1">
                    <i class="bi {{ 'bi-star-fill' if review.score > 0 else 'bi-star' }}"
                        style="cursor: default;"></i>
                    <i class="bi {{ 'bi-star-fill' if review.score > 1 else 'bi-star' }}"
                        style="cursor: default;"></i>
                    <i class="bi {{ 'bi-star-fill' if review.score > 2 else 'bi-star' }}"
                        style="cursor: default;"></i>
                    <i class="bi {{ 'bi-star-fill' if review.score > 3 else 'bi-star' }}"
                        style="cursor: default;"></i>
                    <i class="bi {{ 'bi-star-fill' if review.score > 4 else 'bi-star' }}"
                        style="cursor: default;"></i>
                </div>
                <div class="mb-2" style="height: 100%;">
                    {{ review.content|markdown }}
                </div>
                <div class="d-flex align-items-center align-self-start gap-1" style="font-size: 0.7em;">
                    <a class="a-none-deco" href="{{ url_for('profile.info', username=review.user.username) }}">{{ review.user.nickname }}</a>
                    <span class="d-none d-md-inline mx-1">{{ review.create_date|datetime_detail }}</span>
                    <span class="d-inline d-md-none mx-1">{{ review.create_date|datetime }}</span>
                    {% if review.modify_date %}
                    <span class="border rounded align-self-center px-1">수정됨</span>
                    {% endif %}

                    {% if g.user == review.user %}
                    <a class="btn text-success p-0"
                       href="{{ url_for('review.modify_card_review', review_id=review.id) }}"
                       style="font-size: 1em;">
                       <i class="bi bi-pencil mx-1"></i>수정
                    </a>
                    <a class="delete btn text-danger p-0"
                       href="#"
                       style="font-size: 1em;">
                       <i class="bi bi-x-lg mx-1"></i>삭제
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5 class="border-bottom p-2 mb-0">아직 리뷰가 없습니다.</h5>
        {% endif %}
    </div>
    <!-- 리뷰 목록 End -->
</div>
