{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row rounded border border-2 shadow pt-3 pb-3 pb-md-0 mb-3 mt-md-3">
        <div class="col-12 col-md-4 p-md-3 m-md-0">
            <img src="{{ url_for('static', filename=card.image) }}" alt="카드 이미지" class="rounded img-thumbnail box-shadow p-0" width="410">
        </div>

        <div class="col-12 col-md-8 flex-fill ps-md-0 pe-3 my-md-3">
            <div class="d-flex flex-column h-100">
                <!-- 이름, 버튼들 -->
                <div class="row mt-3 mt-md-0">
                    <div class="col-12">
                        <div class="card border-card shadow p-2 h-100">
                            <div class="d-flex justify-content-between">
                                <span class="card-title px-2 mb-0">이름</span>
                                <div>
                                    <a class="btn btn-outline-danger py-0" href="{{ url_for('wiki.wiki_list', wiki_type='card') }}"><i class="bi bi-arrow-left"></i></a>
                                    <button class="btn btn-outline-primary py-0" onclick="changeLanguageMode()">EN</button>
                                    {% if g.user %}
                                    <a class="btn btn-outline-success py-0" href="{{ url_for('wiki.modify_card', card_id=card.id) }}">수정</a>
                                    <a class="btn btn-primary py-0 {{ 'disabled' if already_reviewed else '' }}" href="{{ url_for('review.create_card_review', card_id=card.id) }}">리뷰</a>
                                    {% endif %}
                                </div>
                            </div>
                            <span class="ko card-text fs-3 px-2 mt-1" style="display: block;">{{ card.name }}</span>
                            <span class="en card-text fs-3 px-2 mt-1" style="display: none;">{{ card_en.name }}</span>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 mt-md-3">
                    <!-- 카드 타입 -->
                    <div class="{{ 'col-6 col-md-3' if is_nemesis_card and '미니언' in card.type else 'col-4' }}">
                        <div class="card border-card shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">타입</span>
                            <span class="ko card-text fs-3 px-2 mt-1" style="display: block;">{{ card.type }}</span>
                            <span class="en card-text fs-3 px-2 mt-1" style="display: none;">{{ card_en.type }}</span>
                        </div>
                    </div>

                    <!-- 카드 비용 -->
                    <div class="{{ 'd-none' if is_nemesis_card else 'col-4' }}">
                        <div class="card border-card shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">비용</span>
                            <span class="card-text fs-3 px-2 mt-1">{{ card.cost }}</span>
                        </div>
                    </div>

                    <!-- 카드 평점 -->
                    <div class="{{ 'col-6 col-md-3' if is_nemesis_card and '미니언' in card.type else 'col-4' }}">
                        <div class="card border-card shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">평점</span>
                            <span class="card-text fs-3 px-2 mt-1">{{ "%.1f"|format(card.avg_score) }}</span>
                        </div>
                    </div>

                    {% if is_nemesis_card %}
                    <!-- 카드 티어 -->
                    <div class="{{ 'col-6 col-md-3' if is_nemesis_card and '미니언' in card.type else 'col-4' }} mt-3 mt-md-0">
                        <div class="card border-mage shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">티어</span>
                            <span class="card-text fs-3 px-2 mt-1">{{ card.nemesis_card_info[0].tier }}</span>
                        </div>
                    </div>

                    <!-- 카드 체력 -->
                    {% if '미니언' in card.type %}
                    <div class="col-6 col-md-3 mt-3 mt-md-0">
                        <div class="card border-nemesis shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">체력</span>
                            <span class="card-text fs-3 px-2 mt-1">{{ card.nemesis_card_info[0].hp }}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>

                <!-- 카드 효과 -->
                <div class="row flex-grow-1 mt-3 mt-md-3">
                    <div class="col-12">
                        <div class="card border-card shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">효과</span>
                            <p class="ko card-text fs-4 px-2 mt-1" style="word-break: keep-all; display: block;">{{ card.effect|keywords_replaced|safe }}</p>
                            <p class="en card-text fs-4 px-2 mt-1" style="word-break: keep-all; display: none;">{{ card_en.effect|keywords_replaced|safe }}</p>
                        </div>
                    </div>
                </div>

                <!-- 카드와 관련된 링크 -->
                <div class="row mt-3 mt-md-3">
                    <div class="col-12">
                        <div class="card border-card shadow p-2 pb-3 h-100">
                            <span class="card-title px-2 mb-0">관련</span>
                            <div class=" d-flex flex-row flex-wrap mt-2 gap-2">
                                {% for mage in related_mage_list %}
                                <div class="badge d-flex align-items-center gap-1" style="background-color: #6f42c1;">
                                    <a class="a-none-deco text-white" href="{{ url_for('wiki.mage_detail', mage_id=mage.id) }}"><span style="font-size: 1.2em;">{{ mage.name }}</span></a>
                                </div>
                                {% endfor %}
                                {% for nemesis in related_nemesis_list %}
                                <div class="badge d-flex align-items-center gap-1" style="background-color: #fd7e14;">
                                    <a class="a-none-deco text-white" href="{{ url_for('wiki.nemesis_detail', nemesis_id=nemesis.id) }}"><span style="font-size: 1.2em;">{{ nemesis.name }}</span></a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'review/review_list.html' %}
</div>
{% endblock %}

{% block script %}
<script>
const koreanContents = document.getElementsByClassName('ko');
const englishContents = document.getElementsByClassName('en');
var isKorean = true;

function changeLanguageMode() {
    isKorean = !isKorean
    for (let content of koreanContents) {
        content.style.display = isKorean ? 'block' : 'none';
    }
    for (let content of englishContents) {
        content.style.display = isKorean ? 'none' : 'block';
    }
}

Array.from(document.getElementsByClassName('delete')).forEach(function(element) {
    element.addEventListener('click', function() {
        if (confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        }
    });
});
</script>
{% endblock %}
