{% extends 'wiki/wiki_list_base.html' %}
{% block wiki_list %}
<div class="card" style="box-shadow: 0 4px 16px 0 rgba(104, 104, 104, 0.6);">
    <!-- 검색창 -->
    <div class="d-flex border-bottom border-3 p-2 mx-2 mb-3">
        <input class="form-control align-self-center mt-2 mb-1" type="text" id="search_kw" placeholder="Search...">
    </div>

    <!-- 카드 목록 -->
    <div class="wiki-list-container d-flex justify-content-center" style="overflow: auto; height: 600px;">
        <h4 id="no_result" style="display: none;">해당하는 카드가 없습니다.</h4>
        <ul class="text-center w-100 px-2">
            {% for card in card_list %}
            <li class="wiki-list-item d-inline-block mx-1 mx-md-2 mb-2 mb-md-3">
                <a href="{{ url_for('wiki.card_detail', card_id=card.id) }}">
                    <img src="{{ url_for('static', filename=card.image) }}" alt="{{ url_for('static', filename='images/card/default.png') }}" class="rounded img-thumbnail" width="150">
                </a>
            </li>
            {% endfor %}

            <!-- Placeholders -->
            {% for i in range(6 - (card_list|length % 6)) %}
            <li class="wiki-list-placeholder d-inline-block mx-1 mx-md-2 mb-2 mb-md-3"></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
