{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row rounded border border-2 shadow pt-3 pb-3 pb-md-0 mb-3 mt-md-3">
        <div class="col-10 w-100 d-flex justify-content-center">
            <img src="{{ url_for('static', filename=mage.board_image) }}" alt="균열 마법사 보드 이미지" class="rounded img-thumbnail box-shadow p-0" id="front_board" onclick="flipBoardImage()" style="display: block;">
            <img src="{{ url_for('static', filename=mage.back_board_image) }}" alt="균열 마법사 보드 뒷면 이미지" class="rounded img-thumbnail box-shadow p-0" id="back_board" onclick="flipBoardImage()" style="display: none;">
        </div>

        <div class="col-12 col-md-8 flex-fill ps-md-0 pe-3 my-md-3">
            <div class="d-flex flex-column h-100">
                <div class="row ms-md-2 mt-3">
                    <!-- 이름 -->
                    <div class="col-12 col-md-6">
                        <div class="card border-mage shadow p-2 h-100">
                            <div class="d-flex justify-content-between">
                                <span class="card-title px-2 mb-0">이름</span>
                                <div class="d-block d-md-none">
                                    <a class="btn btn-outline-danger py-0" href="{{ url_for('wiki.wiki_list', wiki_type='mage') }}"><i class="bi bi-arrow-left"></i></a>
                                    <button class="btn btn-outline-primary py-0" onclick="changeLanguageMode()">EN</button>
                                    {% if g.user %}
                                    <a class="btn btn-outline-success py-0" href="{{ url_for('wiki.modify_mage', mage_id=mage.id) }}">수정</a>
                                    <a class="btn btn-primary py-0 {{ 'disabled' if already_reviewed else '' }}" href="#">리뷰</a>
                                    {% endif %}
                                </div>
                            </div>
                            <span class="ko card-text fs-3 px-2 mt-1" style="display: block;">{{ mage.name }}</span>
                            <span class="en card-text fs-3 px-2 mt-1" style="display: none;">{{ mage_en.name }}</span>
                        </div>
                    </div>

                    <!-- 확장 -->
                    <div class="col-12 col-md-6 mt-3 mt-md-0">
                        <div class="card border-mage shadow p-2 h-100">
                            <div class="d-flex justify-content-between">
                                <span class="card-title px-2 mb-0">확장</span>
                                <div class="d-none d-md-block">
                                    <a class="btn btn-outline-danger py-0" href="{{ url_for('wiki.wiki_list', wiki_type='mage') }}"><i class="bi bi-arrow-left"></i></a>
                                    <button class="btn btn-outline-primary py-0" onclick="changeLanguageMode()">EN</button>
                                    {% if g.user %}
                                    <a class="btn btn-outline-success py-0" href="{{ url_for('wiki.modify_mage', mage_id=mage.id) }}">수정</a>
                                    <a class="btn btn-primary py-0 {{ 'disabled' if already_reviewed else '' }}" href="#">리뷰</a>
                                    {% endif %}
                                </div>
                            </div>
                            <span class="ko card-text fs-3 px-2 mt-1" style="display: block;">{{ mage.series }}</span>
                            <span class="en card-text fs-3 px-2 mt-1" style="display: none;">{{ mage_en.series }}</span>
                        </div>
                    </div>
                </div>

                <!-- 능력 -->
                <div class="row ms-md-2 mt-3">
                    <div class="col-12 col-md-6">
                        <div class="card border-mage shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">능력</span>
                            <p class="ko card-text fs-4 px-2 mt-1" style="word-break: keep-all; display: block;">{{ mage.ability|keywords_replaced|safe }}</p>
                            <p class="en card-text fs-4 px-2 mt-1" style="word-break: keep-all; display: none;">{{ mage_en.ability|keywords_replaced|safe }}</p>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mt-3 mt-md-0">
                        <div class="card border-mage shadow p-2 mb-3">
                            <span class="card-title px-2 mb-0">능력 발동 시기</span>
                            <span class="ko card-text fs-4 px-2 mt-1" style="word-break: keep-all; display: block;">{{ mage.activation_time }}</span>
                            <span class="en card-text fs-4 px-2 mt-1" style="word-break: keep-all; display: none;">{{ mage_en.activation_time }}</span>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="card border-mage shadow p-2">
                                    <span class="card-title px-2 mb-0">충전 요구량</span>
                                    <span class="card-text fs-4 px-2 mt-1">{{ mage.required_charges }}</span>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="card border-mage shadow p-2">
                                    <span class="card-title px-2 mb-0">평점</span>
                                    <span class="card-text fs-4 px-2 mt-1">{{ "%.1f"|format(mage.avg_score) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 시작 패 -->
                <div class="row ms-md-2 mt-3">
                    <div class="col-12">
                        <div class="card border-mage shadow p-2 h-100">
                            <span class="card-title px-2 mb-3">시작 패</span>
                            <div class="card-list-container d-flex flex-row justify-content-start mb-2 gap-2 gap-md-4">
                                {% for hand in starting_hand %}
                                <a href="{{ url_for('wiki.card_detail', card_id=hand.card_id) }}">
                                    <img src="{{ url_for('static', filename=hand.card.image) }}" alt="{{ hand.card.name }}" class="rounded p-0" width="230">
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 시작 덱 -->
                <div class="row ms-md-2 mt-3">
                    <div class="col-12">
                        <div class="card border-mage shadow p-2 h-100">
                            <span class="card-title px-2 mb-3">시작 덱</span>
                            <div class="card-list-container d-flex flex-row justify-content-start mb-2 gap-2 gap-md-4">
                                {% for deck in starting_deck %}
                                <a href="{{ url_for('wiki.card_detail', card_id=deck.card_id) }}">
                                    <img src="{{ url_for('static', filename=deck.card.image) }}" alt="{{ deck.card.name }}" class="rounded p-0" width="230">
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 특수 카드 -->
                {% if specific_card_list|length > 0 %}
                <div class="row ms-md-2 mt-3">
                    <div class="col-12">
                        <div class="card border-mage shadow p-2 h-100">
                            <span class="card-title px-2 mb-3">특수</span>
                            <div class="card-list-container d-flex flex-row justify-content-start mb-2 gap-2 gap-md-4">
                                {% for specific in specific_card_list %}
                                <a href="{{ url_for('wiki.card_detail', card_id=specific.card_id) }}">
                                    <img src="{{ url_for('static', filename=specific.card.image) }}" alt="{{ specific.card.name }}" class="rounded p-0" width="230">
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- 리뷰 목록 -->
</div>
{% endblock %}

{% block script %}
<script>
const koreanContents = document.getElementsByClassName('ko');
const englishContents = document.getElementsByClassName('en');
var isKorean = true;
var isBackBoard = false;

function changeLanguageMode() {
    isKorean = !isKorean;
    for (let content of koreanContents) {
        content.style.display = isKorean ? 'block' : 'none';
    }
    for (let content of englishContents) {
        content.style.display = isKorean ? 'none' : 'block';
    }
}

function flipBoardImage() {
    isBackBoard = !isBackBoard;
    document.getElementById('front_board').style.display = isBackBoard ? 'none' : 'block';
    document.getElementById('back_board').style.display = isBackBoard ? 'block' : 'none';
}

Array.from(document.getElementsByClassName('delete')).forEach(function(element) {
    element.addEventListener('click', function() {
        if (confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        }
    });
});
</script>
{% endblock %}
