{% extends 'base.html' %}
{% block content %}
<div class="container px-3 py-2 p-md-3">
    <div class="row">
        <div class="list-group box-shadow col-lg-2 p-0 mb-2 h-100">
            <a class="list-group-item list-group-item-action {{ 'active' if wiki_type == 'mage' else '' }}" href="{{ url_for('wiki.wiki_list', wiki_type='mage') }}">균열 마법사</a>
            <a class="list-group-item list-group-item-action {{ 'active' if wiki_type == 'card' else '' }}" href="{{ url_for('wiki.wiki_list', wiki_type='card') }}">카드</a>
            <a class="list-group-item list-group-item-action {{ 'active' if wiki_type == 'nemesis' else '' }}" href="{{ url_for('wiki.wiki_list', wiki_type='nemesis') }}">네메시스</a>
        </div>

        <div class="tab-content col-lg-10 p-0 px-md-3">
            <div class="card box-shadow">
                <!-- 검색창 -->
                <div class="d-flex border-bottom gap-2 px-2 py-3 mx-2 mb-3">
                    <input class="form-control align-self-center"
                           type="text"
                           id="search_kw"
                           placeholder="Search..."
                           oninput="updateWikiList()">
                </div>

                <!-- 위키 목록 -->
                <div class="wiki-list-container d-flex justify-content-center pt-3" style="overflow: auto; height: 1000px;">
                    <h4 id="no_result" style="display: none;">검색 결과가 없습니다.</h4>
                    <ul class="text-center w-100 px-2">
                        {% for i in range(wiki_list|length) %}
                        <li class="wiki-list-item box-shadow mx-1 mx-md-2 mb-2 mb-md-3" style="display: inline-block;">
                            {% if wiki_type == 'mage' %}
                            <a href="{{ url_for('wiki.mage_detail', mage_id=wiki_list[i].id) }}">
                                <img src="{{ url_for('static', filename=wiki_list[i].image) }}" alt="균열 마법사 이미지" class="rounded img-thumbnail" width="150">
                            </a>
                            {% elif wiki_type == 'card' %}
                            <a href="{{ url_for('wiki.card_detail', card_id=wiki_list[i].id) }}">
                                <img src="{{ url_for('static', filename=wiki_list[i].image) }}" alt="카드 이미지" class="rounded img-thumbnail" width="150">
                            </a>
                            {% else %}
                            <a href="{{ url_for('wiki.nemesis_detail', nemesis_id=wiki_list[i].id) }}">
                                <img src="{{ url_for('static', filename=wiki_list[i].image) }}" alt="네메시스 이미지" class="rounded img-thumbnail" width="150">
                            </a>
                            {% endif %}

                            <div name="wiki-info">
                                <input type="hidden" value="{{ wiki_list[i].name }}">
                                <input type="hidden" value="{{ wiki_en_list[i].name }}">
                                {% if wiki_type == 'mage' %}
                                <input type="hidden" value="{{ wiki_list[i].series }}">
                                <input type="hidden" value="{{ wiki_en_list[i].series }}">
                                <input type="hidden" value="{{ wiki_list[i].ability_name }}">
                                <input type="hidden" value="{{ wiki_en_list[i].ability_name }}">
                                <input type="hidden" value="{{ wiki_list[i].ability }}">
                                <input type="hidden" value="{{ wiki_en_list[i].ability }}">
                                <input type="hidden" value="{{ wiki_list[i].activation_time }}">
                                <input type="hidden" value="{{ wiki_en_list[i].activation_time }}">
                                <input type="hidden" value="{{ wiki_list[i].required_charges }}">
                                {% elif wiki_type == 'card' %}
                                <input type="hidden" value="{{ wiki_list[i].cost }}">
                                <input type="hidden" value="{{ wiki_list[i].type }}">
                                <input type="hidden" value="{{ wiki_en_list[i].type }}">
                                <input type="hidden" value="{{ wiki_list[i].effect }}">
                                <input type="hidden" value="{{ wiki_en_list[i].effect }}">
                                {% else %}
                                <input type="hidden" value="{{ wiki_list[i].series }}">
                                <input type="hidden" value="{{ wiki_en_list[i].series }}">
                                <input type="hidden" value="{{ wiki_list[i].tier }}">
                                <input type="hidden" value="{{ wiki_list[i].setup }}">
                                <input type="hidden" value="{{ wiki_en_list[i].setup }}">
                                <input type="hidden" value="{{ wiki_list[i].additional_rules }}">
                                <input type="hidden" value="{{ wiki_en_list[i].additional_rules }}">
                                <input type="hidden" value="{{ wiki_list[i].unleash }}">
                                <input type="hidden" value="{{ wiki_en_list[i].unleash }}">
                                <input type="hidden" value="{{ wiki_list[i].increased_diff }}">
                                <input type="hidden" value="{{ wiki_en_list[i].increased_diff }}">
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}

                        <!-- Append Button -->
                        <li class="wiki-list-item box-shadow d-inline-block mx-1 mx-md-2 mb-2 mb-md-3">
                            {% if wiki_type == 'mage' %}
                            <a class="d-block" href="{{ url_for('wiki.append_mage') }}">
                            {% elif wiki_type == 'card' %}
                            <a class="d-block" href="{{ url_for('wiki.append_card') }}">
                            {% else %}
                            <a class="d-block" href="{{ url_for('wiki.append_nemesis') }}">
                            {% endif %}
                                <img src="/static/images/defaults/wiki_append.png" class="rounded img-thumbnail" width="150">
                            </a>
                        </li>

                        <!-- Placeholders -->
                        <li class="wiki-list-placeholder mx-1 mx-md-2 mb-2 mb-md-3" style="display: none;"></li>
                        <li class="wiki-list-placeholder mx-1 mx-md-2 mb-2 mb-md-3" style="display: none;"></li>
                        <li class="wiki-list-placeholder mx-1 mx-md-2 mb-2 mb-md-3" style="display: none;"></li>
                        <li class="wiki-list-placeholder mx-1 mx-md-2 mb-2 mb-md-3" style="display: none;"></li>
                        <li class="wiki-list-placeholder mx-1 mx-md-2 mb-2 mb-md-3" style="display: none;"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
const searchBar = document.getElementById('search_kw');
const placeholderList = [...document.getElementsByClassName('wiki-list-placeholder')];
var wikiInfoList = [...document.getElementsByName('wiki-info')];

updateWikiList();

function updateWikiList() {
    let wikiCount = 0;
    for (let wikiInfo of wikiInfoList) {
        let hasKeyword = false;
        for (let info of wikiInfo.children) {
            hasKeyword = hasKeyword || (info.value.includes(searchBar.value) || info.value.toLowerCase().includes(searchBar.value));
        }

        wikiInfo.parentElement.style.display = hasKeyword ? 'inline-block' : 'none';
        wikiCount += hasKeyword ? 1 : 0;
    }

    updatePlaceHolders(6 - (wikiCount + 1) % 6);
}

function updatePlaceHolders(count) {
    for (let i = 0; i < count; i++) {
        placeholderList[i].style.display = 'inline-block'
    }
    for (let i = count; i < placeholderList.length; i++) {
        placeholderList[i].style.display = 'none';
    }
}
</script>
{% endblock %}
