{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row rounded border border-2 shadow py-2 pb-3 p-md-0 my-md-3">
        <div class="col-12 col-md-4 p-md-3 m-md-0">
            <img src="{{ url_for('static', filename=card.image) }}" alt="{{ url_for('static', filename='images/card/default.png') }}" class="rounded img-thumbnail p-0">
        </div>
        <div class="col-12 col-md-8 flex-fill ps-md-0 pe-3 my-md-3">
            <div class="d-flex flex-column h-100">
                <div class="row mt-3 mt-md-0">
                    <div class="col-12">
                        <div class="card border-gem shadow p-2 h-100">
                            <div class="d-flex justify-content-between">
                                <span class="card-title px-2 mb-0">이름</span>
                                <button class="btn btn-outline-primary py-0" onclick="changeLanguageMode()">EN</button>
                            </div>
                            <span class="ko card-text fs-3 px-2 mt-1" style="display: block;">{{ card.name }}</span>
                            <span class="en card-text fs-3 px-2 mt-1" style="display: none;">{{ card_en.name_en }}</span>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 mt-md-3">
                    <div class="col-4">
                        <div class="card border-gem shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">타입</span>
                            <span class="ko card-text fs-3 px-2 mt-1" style="display: block;">{{ card.type }}</span>
                            <span class="en card-text fs-3 px-2 mt-1" style="display: none;">{{ card_en.type_en }}</span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card border-gem shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">비용</span>
                            <span class="card-text fs-3 px-2 mt-1">{{ card.cost }}</span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card border-gem shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">평점</span>
                            <span class="card-text fs-3 px-2 mt-1">{{ card.avg_score }}</span>
                        </div>
                    </div>
                </div>

                <div class="row flex-grow-1 mt-3 mt-md-3">
                    <div class="col-12">
                        <div class="card border-gem shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">효과</span>
                            <p class="ko card-text fs-4 px-2 mt-1" style="word-break: keep-all; display: block;">{{ card.effect }}</p>
                            <p class="en card-text fs-4 px-2 mt-1" style="word-break: keep-all; display: none;">{{ card_en.effect_en }}</p>
                        </div>
                    </div>
                </div>

                {% if related_list|length > 0 %}
                <div class="row mt-3 mt-md-4">
                    <div class="col-12">
                        <div class="card border-gem shadow p-2 h-100">
                            <span class="card-title px-2 mb-0">관련</span>
                            <div class=" d-flex flex-row">
                                {% for relate in related_list %}
                                <a class="text-decoration-none align-self-start fs-5 px-2 mt-1" href="#">
                                    {{ relate.name }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
const koreanContents = document.getElementsByClassName('ko');
const englishContents = document.getElementsByClassName('en');
var isKorean = true;
function changeLanguageMode() {
    isKorean = !isKorean
    for (let content of koreanContents) {
        content.style.display = isKorean ? 'block' : 'none';
    }
    for (let content of englishContents) {
        content.style.display = isKorean ? 'none' : 'block';
    }
}
</script>
{% endblock %}
