<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- "GET /favicon.ico HTTP/1.1" 404 -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <!-- My CSS -->
    <link rel="stylesheet" href="/static/css/style.css?ver=0.1">

    <!-- Summernote -->
    <!-- include libraries(jQuery, bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- include summernote css/js -->
    <script src="/static/js/summernote-lite.js"></script>
    <script src="/static/js/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="/static/css/summernote-lite.css">

    {% if title %}
    <title>{{ title + " - AEON'S END GG" }}</title>
    {% else %}
    <title>AEON'S END GG</title>
    {% endif %}
</head>
<body>
    <div class="d-flex justify-content-center">
        <a class="a-none-deco mt-2" href="{{ url_for('main.index') }}" style="font-family: '빛의 계승자 Bold'; font-size: 2.2em;">AEON's END GG</a>
    </div>
    <div class="d-flex justify-content-end mb-1">
        {% if g.user %}
        <a class="a-none-deco" href="{{ url_for('profile.info', username=g.user.username) }}" style="font-family: '빛의 계승자 Bold'; font-size: 1.1em;">{{ g.user.nickname }} ({{ g.user.username }})</a>
        <a class="a-none-deco mx-3" href="{{ url_for('auth.logout') }}" style="font-family: '빛의 계승자 Bold'; font-size: 1.1em;">로그아웃</a>
        {% else %}
        <a class="a-none-deco" href="{{ url_for('auth.signup') }}" style="font-family: '빛의 계승자 Bold'; font-size: 1.1em;">회원가입</a>
        <a class="a-none-deco mx-3" href="{{ url_for('auth.login') }}" style="font-family: '빛의 계승자 Bold'; font-size: 1.1em;">로그인</a>
        {% endif %}
    </div>

    <!-- 내비게이션바 -->
    {% include 'navbar.html' %}

    {% block content %}
    {% endblock %}

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Javascript Start -->
    {% block script %}
    {% endblock %}
    <!-- Javascript End -->
</body>
</html>
