{% extends 'base.html' %}
{% block content %}
<div class="container box-shadow py-2 my-lg-3">
    <!-- 최근 게시글 -->
    <h3 style="font-family: '빛의 계승자 Bold';">최근 게시글</h3>

    <div class="col-12 col-lg-8 offset-lg-2 pb-3">
        <table class="table">
            <thead>
                <tr class="table-dark text-center">
                    <th class="col-auto col-lg-2">카테고리</th>
                    <th class="col-auto col-lg-9">제목</th>
                    <th class="col-auto col-lg-1">조회수</th>
                </tr>
            </thead>
            <tbody>
                {% if post_list.items|length > 0 %}
                {% for post in post_list.items %}
                <tr class="text-center">
                    <td class="col-3 col-lg-2">{{ post.category }}</td>
                    <td class="col-6 col-lg-9 text-start text-ellipsis">
                        <a class="a-none-deco" href="{{ url_for('post.detail', post_id=post.id) }}">
                            <span>{{ post.subject }}</span>
                            {% if post.comment_list|length > 0 %}
                            <span class="text-primary">[{{ post.comment_list|length }}]</span>
                            {% endif %}
                            {% if '/static/images/posts/' in post.content %}
                            <i class="bi bi-image"></i>
                            {% endif %}
                        </a>
                    </td>
                    <td class="col-3 col-lg-1">{{ post.num_views }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="text-center">
                    <td colspan="3">게시글이 없습니다.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <h3 class="border-top border-2 pt-3 mt-3" style="font-family: '빛의 계승자 Bold';">인기</h3>

    <!-- 인기 탭 버튼 -->
    <div class="list-group list-group-horizontal text-center border my-3">
        <a class="list-group-item list-group-item-action active" href="#mage" data-bs-toggle="list">마법사</a>
        <a class="list-group-item list-group-item-action" href="#card" data-bs-toggle="list">카드</a>
        <a class="list-group-item list-group-item-action" href="#nemesis" data-bs-toggle="list">네메시스</a>
    </div>

    <!-- 인기 탭 -->
    <div class="tab-content pb-3">
        <div class="tab-pane active " id="mage">
            <!-- 인기 마법사 정보 탭 -->
            <div class="tab-content">
                {% for mage in mage_list.items %}
                <div class="tab-pane {{ 'active' if loop.index == 1 else '' }}" id="{{ mage.name.replace(' ', '').replace('(', '').replace(')', '') }}">
                    <div class="row">
                        <div class="col-12 col-lg-4 p-3">
                            <a href="{{ url_for('wiki.mage_detail', mage_id=mage.id) }}">
                                <img src="{{ url_for('static', filename=mage.image) }}" alt="{{ mage.name }}" class="rounded w-100">
                            </a>
                        </div>

                        <div class="col-12 col-lg-8 p-lg-3">
                            <!-- 평점 -->
                            <div class="card border-mage p-2 mb-3">
                                <div class="d-flex justify-content-between">
                                    <span class="card-title mb-0">평점</span>
                                    <a class="btn btn-primary py-0" href="{{ url_for('wiki.mage_detail', mage_id=mage.id) }}">
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                                <span class="card-text fs-3 px-2 mt-1">{{ "%.1f"|format(mage.avg_score) }}</span>
                            </div>

                            <!-- 리뷰 목록 -->
                            <table class="table">
                                <thead></thead>
                                <tbody>
                                    {% if mage.review_list|length > 0 %}
                                    {% for review in mage.review_list %}
                                    <tr class="text-start">
                                        <td class="text-ellipsis">{{ review.content }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr class="text-center">
                                        <td>리뷰가 없습니다.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- 인기 마법사 정보 탭 버튼 -->
            <div class="d-none d-lg-flex col-8 offset-2 list-group list-group-horizontal text-center">
                {% for mage in mage_list.items %}
                <a class="list-group-item list-group-item-action px-0 py-1 {{ 'active' if loop.index == 1 else '' }}" href="#{{ mage.name.replace(' ', '').replace('(', '').replace(')', '') }}" data-bs-toggle="list">{{ mage.name.replace('(', '<br>(')|safe }}</a>
                {% endfor %}
            </div>
            <div class="d-flex d-lg-none col-8 offset-2 list-group text-center">
                {% for mage in mage_list.items %}
                <a class="list-group-item list-group-item-action px-0 py-1 {{ 'active' if loop.index == 1 else '' }}" href="#{{ mage.name.replace(' ', '').replace('(', '').replace(')', '') }}" data-bs-toggle="list">{{ mage.name.replace('(', '<br>(')|safe }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane" id="card">
            <!-- 인기 카드 정보 탭 -->
            <div class="tab-content">
                {% for card in card_list.items %}
                <div class="tab-pane {{ 'active' if loop.index == 1 else '' }}" id="{{ card.name.replace(' ', '').replace('(', '').replace(')', '') }}">
                    <div class="row">
                        <div class="col-12 col-lg-4 p-3">
                            <a href="{{ url_for('wiki.card_detail', card_id=card.id) }}">
                                <img src="{{ url_for('static', filename=card.image) }}" alt="" class="rounded w-100">
                            </a>
                        </div>

                        <div class="col-12 col-lg-8 p-lg-3">
                            <!-- 평점 -->
                            <div class="card border-card p-2 mb-3">
                                <div class="d-flex justify-content-between">
                                    <span class="card-title mb-0">평점</span>
                                    <a class="btn btn-primary py-0" href="{{ url_for('wiki.card_detail', card_id=card.id) }}">
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                                <span class="card-text fs-3 px-2 mt-1">{{ "%.1f"|format(card.avg_score) }}</span>
                            </div>

                            <!-- 리뷰 목록 -->
                            <table class="table">
                                <thead></thead>
                                <tbody>
                                    {% if card.review_list|length > 0 %}
                                    {% for review in card.review_list %}
                                    <tr class="text-start">
                                        <td class="text-ellipsis">{{ review.content }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr class="text-center">
                                        <td>리뷰가 없습니다.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- 인기 카드 정보 탭 버튼 -->
            <div class="d-none d-lg-flex col-8 offset-2 list-group list-group-horizontal text-center">
                {% for card in card_list.items %}
                <a class="list-group-item list-group-item-action px-0 py-1 {{ 'active' if loop.index == 1 else '' }}" href="#{{ card.name.replace(' ', '').replace('(', '').replace(')', '') }}" data-bs-toggle="list">{{ card.name.replace('(', '<br>(')|safe }}</a>
                {% endfor %}
            </div>
            <div class="d-flex d-lg-none col-8 offset-2 list-group text-center">
                {% for card in card_list.items %}
                <a class="list-group-item list-group-item-action px-0 py-1 {{ 'active' if loop.index == 1 else '' }}" href="#{{ card.name.replace(' ', '').replace('(', '').replace(')', '') }}" data-bs-toggle="list">{{ card.name.replace('(', '<br>(')|safe }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane" id="nemesis">
            <!-- 인기 네메시스 정보 탭 -->
            <div class="tab-content">
                {% for nemesis in nemesis_list.items %}
                <div class="tab-pane {{ 'active' if loop.index == 1 else '' }}" id="{{ nemesis.name.replace(' ', '').replace('(', '').replace(')', '') }}">
                    <div class="row">
                        <div class="col-12 col-lg-4 p-3">
                            <a href="{{ url_for('wiki.nemesis_detail', nemesis_id=nemesis.id) }}">
                                <img src="{{ url_for('static', filename=nemesis.image) }}" alt="" class="rounded w-100">
                            </a>
                        </div>

                        <div class="col-12 col-lg-8 p-lg-3">
                            <!-- 평점 -->
                            <div class="card border-nemesis p-2 mb-3">
                                <div class="d-flex justify-content-between">
                                    <span class="card-title mb-0">평점</span>
                                    <a class="btn btn-primary py-0" href="{{ url_for('wiki.nemesis_detail', nemesis_id=nemesis.id) }}">
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                                <span class="card-text fs-3 px-2 mt-1">{{ "%.1f"|format(nemesis.avg_score) }}</span>
                            </div>

                            <!-- 리뷰 목록 -->
                            <table class="table">
                                <thead></thead>
                                <tbody>
                                    {% if nemesis.review_list|length > 0 %}
                                    {% for review in nemesis.review_list %}
                                    <tr class="text-start">
                                        <td class="text-ellipsis">{{ review.content }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr class="text-center">
                                        <td>리뷰가 없습니다.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- 인기 네메시스 정보 탭 버튼 -->
            <div class="d-none d-lg-flex col-8 offset-2 list-group list-group-horizontal text-center">
                {% for nemesis in nemesis_list.items %}
                <a class="list-group-item list-group-item-action px-0 py-1 {{ 'active' if loop.index == 1 else '' }}" href="#{{ nemesis.name.replace(' ', '').replace('(', '').replace(')', '') }}" data-bs-toggle="list">{{ nemesis.name.replace('(', '<br>(')|safe }}</a>
                {% endfor %}
            </div>
            <div class="d-flex d-lg-none col-8 offset-2 list-group text-center">
                {% for nemesis in nemesis_list.items %}
                <a class="list-group-item list-group-item-action px-0 py-1 {{ 'active' if loop.index == 1 else '' }}" href="#{{ nemesis.name.replace(' ', '').replace('(', '').replace(')', '') }}" data-bs-toggle="list">{{ nemesis.name.replace('(', '<br>(')|safe }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
